.right-side {
	background: blue;
	min-height: 657px;
	height: 100%;
}

.right-side .header{
	height: 37px;
	background: black;
}

.right-side .header .right{
	height: 100%;
	background: red;
}


.right-side .body{
	height: 110px;
	background: white;
}

.right-side .footer{
	min-height: 517px;
	/* Firefox */
	height: -moz-calc(100% - 147px);
	/* WebKit */
	height: -webkit-calc(100% - 147px);
	/* Opera */
	height: -o-calc(100% - 147px);
	/* Standard */
	height: calc(100% - 147px);
}

.right-side .footer .left{
	height: 100%;
	background: green;
}

.right-side .footer .left .top{
	height: 80px;
	background: pink;
}

.right-side .footer .left .top .left{
	height: 100%;
	background: red;
}

.right-side .footer .left .top .right{
	height: 100%;
	background: green;
}

.right-side .footer .left .bottom{
	min-height: 437px;
	/* Firefox */
	height: -moz-calc(100% - 80px);
	/* WebKit */
	height: -webkit-calc(100% - 80px);
	/* Opera */
	height: -o-calc(100% - 80px);
	/* Standard */
	height: calc(100% - 80px);
	background: black;
}


.right-side .footer .right{
	min-height: 100%;
	background: blue;
}